
.about__container {
    display: grid;
    grid-template-columns: 25% 40%;
    gap: 15%;
}

.title {
    text-shadow: var(--color-bg) 1px 0 10px;
}

.about__me {
    width: 130%;
    aspect-ratio: 1/1;
    position:relative;
    display:grid;
    place-items: center;
    border-radius: 0.5rem;
    left: 12rem;
    bottom: 8rem;
    z-index: -1;
}

.about__me-image {
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.about__cards {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about__card {
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);   
}


.about__icon {
    color: var(--color-main);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;    
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color:var(--color-light)
}

/* Intersection Observer*/

.slide-left{
    transform: translateX(50%);
    
}

.slide-right{
    transform: translateX(-50%);
    
}

.slide-left, 
.slide-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.appear {
    transform: translateX(0);
    opacity: 1;
    display:block;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 70%;
        justify-content: center;
        gap: 0;
    }
    .about__me {
        width:50%;
        justify-self:center;
        position: relative;
        left: 0rem;
        bottom: 0rem;
    }

    .about__content p { 
        margin: 1rem 0 1.5rem;
    }
    
    /*tablet & phone intersection observer*/
    .slide-left{
        transform: translateY(50%);
        
    }
    
    .slide-right{
        transform: translateY(-50%);
        
    }

    .slide-left, 
.slide-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.appear {
    transform: translateX(0);
    opacity: 1;
    display:block;
}
}


@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
   }

   .about__content p {
    margin: 1.5rem 0;
   }
}