header {
    height:100vh;
    padding-top: 15rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container > h5{
    color: var(--color-main);
    font-size: 1.5rem;
    padding-bottom: 2rem;
    animation: slide-left-up 1s ease-in forwards;
    opacity: 0;
}

.header__container > h1 {
    animation: slide-right-down 1s ease-in forwards;
}

.header__container > small {
    display:block;
    color: var(--color-light);
}

.phoenix-container {
  position: absolute;
  width: 100%;
  padding-bottom: 50%; 
  z-index: -1;
  animation: fade-in 2s ease-in forwards 3s;
  opacity: 0;
}

.header__nav, .header__container > small {
    animation: fade-in 2s ease-in forwards 1.4s;
    opacity: 0;
}

.phoenix-container img{
    position: relative;
    left: 15%;
    width: 35%;
    opacity: .37;
}

/* CTA */

.cta {
    margin-top:2.5rem;
    display:flex;
    gap: 1.2rem;
    justify-content: center;
    animation: fade-in 2s ease-in forwards 2.5s;
    opacity: 0;
}

/* Header Nav */

.header__nav {
    display:flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    right: 0%;
    top: -14rem;
    padding: 1rem;   
    border-radius: 1.5rem;
}

.header__nav > a {
    display:flex;
    font-size: 2rem;
}

/* Arrow */

.arrow {
    font-size: 2.5rem;
    color: var(--color-main);
    margin-top: 14rem;
    animation: bounce 3s ease-in forwards 6s;
    opacity: 0;
}

/*Keyframes*/


@keyframes fade-in {
    100% {opacity: 1;}    
}
@keyframes slide-right-down {
    0% {transform: translateX(-50%)
        translateY(-50%);
        opacity: 0}

    100%{transform: translateX(0%)
        translateY(0%);
        opacity: 1}
    }
@keyframes slide-left-up {
    0% {transform: translateX(50%)
        translateY(50%);
        opacity: 0}

    100%{transform: translateX(0%)
        translateY(0%);
        opacity: 1}
    }
@keyframes bounce {
    0% {transform: translateY(-50%);
        opacity: .75;
    }
    20% {transform: translateY(0%)}

    40% {transform: translateY(-50%)}

    60% {transform: translateY(0%)}

    80% {transform: translateY(-50%);
        opacity: 1;
    }

    100% {transform: translateY(0%);
        opacity: 0;
    }
}


/* Media Queries */

@media  screen and (max-width: 1024px) {
    header {
        height: 68vh;

    }
    .phoenix-container img{
        width: 50%;
        left: 1rem;
    }
}

@media  screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__nav {
        display: none;
    }
    .phoenix-container img{
        width: 50%;
        left: 24%;
    }
}
