
footer {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    background: var(--color-main);
    padding: 3rem 0rem;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 12rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    width: 75px;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg)
}

