#experience {
    background-color: var(--color-white
    );
    padding: 1rem 0rem 5rem;
}

#experience > h2 {
    color: var(--color-bg)
}

.experience__container {
    width: var(--container-width-lg);
    padding: 3.4rem 3rem;
    border: 1px solid white;
    border-radius: 2rem;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.experience__container > article {
    width: 12rem;
    height: 3rem;
    background-color: var(--color-bg-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.4rem;
    margin: 2rem 1rem;
    border: 1px solid var(--color-bg)
}

.skillBadge {
    position:relative;
    border: 1px solid var(--color-main-alt);
    bottom: 2.5rem;
    right: 2rem;
    height: 75px;
    aspect-ratio: 1;
    border-radius: 50px;
    box-shadow: 6px 5px 15px var(--color-bg);
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience__container__icon {
    color: var(--color-bg);
    font-size: 2.7rem;
}

.experience__container > article > h3 {
    color:var(--color-white);
    position: relative;
    right: 2rem;

}

.experience__container > article > h4 {
    color:var(--color-light);
    position: relative;
    bottom: 2rem;

}

#experience {
    margin-bottom: 20rem;
}


/*Media Queries*/

@media  screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr 1fr;
    }

    .experience__container > div {
        width:80%;
        padding: 2rem;
        margin: 0 auto;
    }

}


@media  screen and (max-width: 600px) {
    .experience__container {
        gap: 2rem;
    }

    .experience__container > div {
        width:100%;
        padding: 2rem 1rem;
    }

    .experience__container__icon {
        animation: none;
    }
}